@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="carousel">
    <button class="carousel_button carousel_button-left">&#8678;</button>
    <div class="carousel_track-container">
        <ul class="carousel_track">
            <li class="carousel_slide current-slide">
                <img class="carousel_image" src="https://images.pexels.com/photos/8311890/pexels-photo-8311890.jpeg" alt="Photo of clothes in a shop">
                <a href="#" class="carousel_caption-link">
                    <h1 class="carousel_caption">
                        <div class="carousel_line1">Welcome to Manero!</div>
                        <div class="carousel_line2">50% Off</div>
                    </h1>
                </a>

            </li>
            <li class="carousel_slide">
                <img class="carousel_image" src="https://images.pexels.com/photos/3812433/pexels-photo-3812433.jpeg" alt="Photo of many shirts in a shop">
                <a href="#" class="carousel_caption-link">
                    <h1 class="carousel_caption">
                        <div class="carousel_line1">Check it out!</div>
                        <div class="carousel_line2">New products</div>
                    </h1>
                </a>
            </li>
            <li class="carousel_slide">
                <img class="carousel_image" src="https://images.pexels.com/photos/6567442/pexels-photo-6567442.jpeg" alt="Photo of a happy costumer with shopping bags filled with clothes">
                <a href="#" class="carousel_caption-link">
                    <h1 class="carousel_caption">
                        <div class="carousel_line1">Top Sellers</div>
                        <div class="carousel_line2">Still in stock</div>
                    </h1>
                </a>
            </li>
        </ul>
    </div>
    <button class="carousel_button carousel_button-right">&#8680;</button>
    <div class="carousel_nav">
        <button class="carousel_indicator current-slide" title="Click to navigate to the target slide"></button>
        <button class="carousel_indicator" title="Click to navigate to the target slide"></button>
        <button class="carousel_indicator" title="Click to navigate to the target slide"></button>
    </div>
</div>
<script src="~/js/carousel.js"></script>