<section class="leave-a-review-section">
    <div class="submit-review-container">
        <div class="comments-icon">
            <i class="fa-regular fa-comments"></i>
        </div>
        <div class="line"></div>
        <h3>Please rate the quality of service for the order!</h3>
        <div class="review-rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
        </div>
        <p>Your comments and suggestions help us improve the service quality better!</p>
    </div>
    <form action="">
        <fieldset class="comment-fieldset">
            <legend>comment</legend>
            <textarea class="comment input" placeholder="Enter your comment" rows="3" cols="33"></textarea>
        </fieldset>
        <input class="submit-review" type="submit" value="Submit">
    </form>
</section>

<script src="~/js/leaveAReview.js"></script>