@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="my-promos">
    <div class="upper-promo">
        <div class="back-promo promo-top">
            <a href="/" title="previous page">
                <i class="fa-solid fa-less-than"></i>
            </a>
        </div>
        <h2 class="title-promo promo-top">My Promocodes</h2>
    </div>
    <div class="btns-promo">
        <a href="#"><button class="btn-promo">Current</button></a>
        <a href="#"><button class="btn-promo">Used</button></a>
    </div>
    <div class="promocode-list">
        <div class="promocodes-display">
            <div class="promocode-display">
                <img class="promo-img"
                     alt="picture of promo"
                     src="https://images.pexels.com/photos/18545451/pexels-photo-18545451/free-photo-of-gra-stilleben-tillfallig-basebollkeps.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                <div class="promo-text">
                    <p class="promo-head">Acme Co.</p>
                    <p class="promo-value50">50% off</p>
                    <p class="promo-valid">Valid until June 30, 2022</p>
                </div>
            </div>
            <button title="copy" class="promo-copy">
                <i class="fa-regular fa-copy"></i>
            </button>
        </div>
        <div class="promocodes-display">
            <div class="promocode-display">
                <img class="promo-img"
                     alt="picture of promo"
                     src="https://images.pexels.com/photos/7957756/pexels-photo-7957756.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                <div class="promo-text">
                    <p class="promo-head">Abstergo Ltd.</p>
                    <p class="promo-value30">30% off</p>
                    <p class="promo-valid">Valid until June 30, 2022</p>
                </div>
            </div>
            <button title="copy" class="promo-copy">
                <i class="fa-regular fa-copy"></i>
            </button>
        </div>
        <div class="promocodes-display">
            <div class="promocode-display">
                <img class="promo-img"
                     alt="picture of promo"
                     src="https://images.pexels.com/photos/7440168/pexels-photo-7440168.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
                <div class="promo-text">
                    <p class="promo-head">Barone LLC.</p>
                    <p class="promo-value15">15% off</p>
                    <p class="promo-valid">Valid until June 30, 2022</p>
                </div>
            </div>
            <button title="copy" class="promo-copy">
                <i class="fa-regular fa-copy"></i>
            </button>
        </div>
        <div class="add-promo">
            <div class="promo-body">
                <div class="promo-form">
                    <input type="text" aria-label="input promocode" id="promo-input">
                    <label class="promo-label">Enter the Voucher</label>
                </div>
            </div>
            <a href="#"><button class="btn-submit-promo">Add Promocode</button></a>
        </div>
    </div>
</section>