@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="no-promo">
    <div class="upper-promo">
        <div class="back-promo promo-top"><a href="/" title="previous page"><i class="fa-solid fa-less-than"></i></a></div>
        <h2 class="title-promo promo-top">My Promocodes</h2>
    </div>
    <div class="no-promo-bottom">
        <img src="~/images/promocodes/nopromo.png" alt="no promo">
        <h2>You don't have promocodes yet!</h2>
        <p>Qui ex aute ipsum duis. Incididunt adipisicing voluptate laborum</p>
        <div class="promo-body">
            <div class="promo-form">
                <input type="text" aria-label="input promocode" id="promo-input">
                <label class="promo-label">Enter the Voucher</label>
            </div>
        </div>
        <a href="#"><button class="btn-submit-promo">SUBMIT</button></a>
    </div>
</section>