    <!-- sale section -->
    <section class="sale-section">
        <div class="container">
            <h1>Take 50% off now!</h1>
            <a class="btn-white" asp-area="" asp-controller="Home" asp-action="Sale">SHOP NOW</a>
        </div>
    </section>

