@{
    Layout = "_LayoutNoNav";
}

<section class="mail-confirmation-section">
    <header>
        <i class="fa-solid fa-angle-left" id="back-icon"></i>
        <h1>Email Confirmation</h1>
    </header>

    <p>If you have an account with us, we have sent an email with the instructions to reset your password.</p>
    <p>Click <a asp-controller="home" asp-action="index">here</a> to get back to Homepage</p>
</section>