@model ForgotPasswordViewModel

@{
    Layout = "_LayoutNoNav";
}

<div class="hidden-top-nav">
    <partial name="/Views/Partials/_NavigationTopPartial.cshtml" />
</div>

<div class="forgot-password-section">
    <header>
        <i class="fa-solid fa-angle-left" id="back-icon"></i>
        <h1>Sign in</h1>
    </header>
    <p>Please enter your email address. You will receive a link to create a new password via email.</p>
    <form method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-input">
            <label asp-for="Email" class="form-label">EMAIL</label>
            <input asp-for="Email" class="input" id="email" /><br /><br />
            <small><span asp-validation-for="Email"></span></small>
        </div>
        <button type="submit">SEND</button>
    </form>
</div>

<div class="hidden-bottom-nav">
    <partial name="/Views/Partials/_NavigationBottomPartial.cshtml" />
</div>
<div class="hidden-footer">
    <partial name="/Views/Partials/_FooterBigScreenPartial.cshtml" />
</div>