@{
    Layout = "_LayoutNoNav";
}

<div class="hidden-top-nav">
    <partial name="/Views/Partials/_NavigationTopPartial.cshtml" />
</div>

<section class="mail-confirmation-section">
    <header>
        <i class="fa-solid fa-angle-left" id="back-icon"></i>
        <h1>Email Confirmation</h1>
    </header>

    <p>If you have an account with us, we have sent an email with the instructions to reset your password.</p>
    <p>Click <a asp-controller="home" asp-action="index">here</a> to get back to Homepage</p>
</section>

<div class="hidden-bottom-nav">
    <partial name="/Views/Partials/_NavigationBottomPartial.cshtml" />
</div>
<div class="hidden-footer">
    <partial name="/Views/Partials/_FooterBigScreenPartial.cshtml" />
</div>