@{
    ViewData["Title"] = "Reset Confirmation";
    Layout = "_LayoutNoNav";
}

<div class="hidden-top-nav">
    <partial name="/Views/Partials/_NavigationTopPartial.cshtml" />
</div>

<div class="forgot-password-confirmation">
    <header>
        <h2>MANERO</h2>
    </header>
    <img src="~/images/svg-files/key.svg" alt="">
    <h1>Your password has been reset!</h1>
    <p>Qui ex aute ipsum duis. Incididunt adipisicing voluptate laborum</p>
    <a asp-controller="Home" asp-action="Index">DONE</a>
</div>

<div class="hidden-bottom-nav">
    <partial name="/Views/Partials/_NavigationBottomPartial.cshtml" />
</div>
<div class="hidden-footer">
    <partial name="/Views/Partials/_FooterBigScreenPartial.cshtml" />
</div>