@{
    ViewData["Title"] = "Wishlist";
}

<div class="sorting-container">
    <div><i class="fa-solid fa-filter"></i>Filters</div>
    <h1>Wishlist</h1>
    <div>Sorting by<i class="fa-solid fa-caret-down"></i></div>
</div>

<section class="wishlist-section">
    <div class="wishlist-items"></div>
</section>

<script src="~/js/wishlist.js"></script>