<section class="register-success-container">
    <div class="register-success-header">
        <p class="register-success-line">|</p>
        <h1>Account Created</h1> 
        <p>Your account has been successfully created!</p>
    </div>
    <div class="register-success-btn-wrapper">
        <a asp-controller="Home" asp-action="Index" class="register-success-btn">Shop Now</a>
    </div>
</section>